.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar-brand{
  padding: auto;
  margin: auto;
  color: #ffffff;
}
.container-fluid{
background-color: #184c5b;
padding: auto;
}

.App-link {
  color: #61dafb;
}

.nav-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #205877;
  width: 1440px;
  height: 80px;
}
h1 {
  color: #ffffff;
}
.groupdiv{
  background-color: #85b3c0;
}